---
layout: default
---

{% include home-header.html %}

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <div id="container">
    {%- if site.about-img contains "://" -%}
        {%- assign about-img = site.about-img -%}
    {%- else -%}
        {%- assign about-img = site.about-img | relative_url -%}
    {%- endif -%}
    <img src="{{ about-img }}"  align="left" style="display: inline; margin-right: 27px; width: 45%;" />
    <ul style="margin-bottom: 60px;">
      <li>I'm a constant learner with a <b>passion</b> for Software Design 👨‍💻</li>
      <br>
      <li>I love photography using vintage cameras, where you have only one chance to take a good picture📷</li>
      <br>
      <li>I enjoy taking on new and complex challenges🤯</li>
      <br>
      <li>Effective communication in 4 languages handshake</li>
      <br>
      <li>Patience with others🧘‍♂️</li>
      <br>
      <li>Knowing how and when to show empathy🦈</li>
    </ul>
    </div>
    <hr>
  {{ content }}
</article>
